.btn-primary, .btn-primary:hover, .btn-primary:focus{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484c+0,020202+100 */
background: #45484c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjAyMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #45484c 0%, #020202 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484c), color-stop(100%,#020202)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #45484c 0%,#020202 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #45484c 0%,#020202 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #45484c 0%,#020202 100%); /* IE10+ */
background: linear-gradient(to bottom,  #45484c 0%,#020202 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484c', endColorstr='#020202',GradientType=0 ); /* IE6-8 */
border:1px solid #000;
}


.btn-default, .btn-default:hover, .btn-default:focus{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fd1900+1,cf0100+100 */
background: #fd1900; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZkMTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjAxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fd1900 1%, #cf0100 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fd1900), color-stop(100%,#cf0100)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fd1900 1%,#cf0100 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fd1900 1%,#cf0100 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fd1900 1%,#cf0100 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fd1900 1%,#cf0100 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd1900', endColorstr='#cf0100',GradientType=0 ); /* IE6-8 */
border:1px solid #bb0500;
}

.navbar-toggle{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db221b+0,c50000+100 */
background: #db221b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiMjIxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #db221b 0%, #c50000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db221b), color-stop(100%,#c50000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #db221b 0%,#c50000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #db221b 0%,#c50000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #db221b 0%,#c50000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #db221b 0%,#c50000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db221b', endColorstr='#c50000',GradientType=0 ); /* IE6-8 */
}